Follow me:
<div id="stalker">
  {% if site.data.theme.social.email %}
    <a href="mailto:{{ site.data.theme.social.email }}">Email</a>
  {% endif %}
  {% if site.data.theme.social.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.data.theme.social.linkedin }}">LinkedIn</a>
  {% endif %}
  {% if site.data.theme.social.gscholar %}
    <a href="https://scholar.google.com/citations?user={{ site.data.theme.social.gscholar }}">Google Scholar</a>
  {% endif %}
  {% if site.data.theme.social.github %}
    <a href="https://github.com/{{ site.data.theme.social.github }}">GitHub</a>
  {% endif %}
  {% if site.data.theme.social.bitbucket %}
    <a href="https://bitbucket.com/{{ site.data.theme.social.bitbucket }}/">Bitbucket</a>
  {% endif %}
  {% if site.data.theme.social.hacker_news %}
    <a href="https://news.ycombinator.com/user?id={{site.data.theme.social.hacker_news }}">Hacker News</a>
  {% endif %}
  {% if site.data.theme.social.stackexchange %}
    <a href="https://stackexchange.com/users/{{site.data.theme.social.stackexchange }}">Stack Exchange</a>
  {% endif %}
  {% if site.data.theme.social.stackoverflow %}
    <a href="http://stackoverflow.com/users/{{site.data.theme.social.stackoverflow }}">Stack Overflow</a>
  {% endif %}
  {% if site.data.theme.social.twitter %}
    <a href="https://twitter.com/{{ site.data.theme.social.twitter }}">Twitter</a>
  {% endif %}
  {% if site.data.theme.social.facebook %}
    <a href="https://facebook.com/{{ site.data.theme.social.facebook }}">Facebook</a>
  {% endif %}
  {% if site.data.theme.social.tumblr %}
    <a href="https://{{ site.data.theme.social.tumblr }}.tumblr.com">Tumblr</a>
  {% endif %}
  {% if site.data.theme.social.gplus %}
    <a href="https://plus.google.com/{{ site.data.theme.social.gplus }}">Google+</a>
  {% endif %}
  {% if site.data.theme.social.flickr %}
    <a href="https://www.flickr.com/photos/{{ site.data.theme.social.flickr }}">Flickr</a>
  {% endif %}
</div>
